
@import url('https://fonts.googleapis.com/css2?family=Actor&family=Candal&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ------------------------GLOBAL STYLES--------------------- */
:root{
  --blue: #27668c;
  --light-green: #bfb630;
  --med-green: #565902;
  --dark-green: #403c01;
  --gray: #8d9586;
  --dark-gray: #222;
  --black: #000;
  --white: #fff;
  --heading-font: 'Candal', sans-serif;
  --body-font: 'Actor', sans-serif;
  font-size: 16px;
}

*{
  line-height: 1.35;
  font-family: var(--body-font);
  color: var(--dark-gray);
  box-sizing:  border-box;
}

#skip{
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}
 
#skip:focus{
  position:static;
  width:auto;
  height:auto;
}

header, footer{
  background-color: var(--dark-green);
  color: var(--white);
}

img{
  display:block;
}

h1, h2, h3, h4, h5, h6{
  font-family: var(--heading-font);
  text-align: center;
}

h1{
  color: var(--white);
  font-size: 1.5rem;
  padding: 0.75rem 0;
}

h2{
  font-size: 1.25rem;
  padding: 0.6rem 0;
  white-space: nowrap;
  margin: 0.5rem 1rem;
}

h3{
  font-size: 1.1rem;
}

.hidden{
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

nav ul{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

a{
  color: var(--dark-gray);
}

nav a {
  font-family: var(--heading-font);
  text-decoration: none;
  color: var(--white);
  display: block;
  text-align: center;
  padding:  1.5rem 1rem;
}

.active{
  text-decoration: underline var(--white);
  text-decoration-thickness: 3px;
}

p{
  margin: 0 auto;
}

#homeMain p{
  padding: 1rem;
}

#aboutPlants{
  background-color: var(--blue);
}

#contactUs{
  background-color: var(--med-green);
}

#aboutPlants p, #aboutPlants h3, #contactUs p, #contactUs h3{
  color: var(--white);
  padding: 1rem;
}

footer section{
  max-width: 275px;
  margin: 1rem auto 0 auto;
}

footer h2:first-of-type{
  padding-top: 1em;
}

footer h2, footer a, footer span{
  color: var(--white);
  display: block;
}

footer a{
  padding: 1rem 0;
}

address a:first-of-type{
  margin-top: 1rem;
}

footer address{
  font-family: var(--body-font);
  color: var(--white);
  margin-top: 1rem;
}

#socialMedia{
  max-width: 340px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 1rem auto 0 auto;
  padding-bottom: 1rem;
}

#socialMedia h2{
  grid-column: 1/-1;
  margin: 1rem 0 0 0;
}

#socialMedia img{
  width: 50px;
  margin: 0 auto;
  padding: 0.25rem;
}

a {
  text-decoration:none;
}
/* ------------------------MOBILE STYLES--------------------- */

nav a {
  margin-bottom:0.45em;
}

header img {
  transform:scaleX(-1);
  width:15%;
  margin:0 auto;
  margin-bottom:-1.45em;
}

#homeMain h2 {
  margin-bottom:-0.5em;
}

#homeMain span {
  display: block;
}

#hero {
  width: 100%;
  max-width: 1200px;
  margin: 1rem auto;
}

#aboutPlants img, #contactUs img{
  width:38%;
  max-width: 300px;
  margin: 0 auto;
}

#aboutPlants p, #contactUs p {
  margin-top:-0.3em;
  margin-bottom:1.5em;
  margin-left:0.5em;
  margin-right:0.5em;
  line-height:1.4em;
}

#aboutPlants{
  margin-bottom: 1rem;
}

#aboutPlants h3 {
  color:var(--blue);
}

#aboutPlants img, #contactUs img {
  margin-top:-3.4em;
}

#contactUs h3 {
  color:var(--med-green);
}

footer {
  padding-bottom:2.5em;
}

#socialMedia h2 {
  font-size:0.95em;
}
#socialMedia img {
  margin: 0 auto;
  margin-top:-0.65em;
  width:35%;
}

#location h2 {
 margin-top:-2em;
 margin-bottom:-0.8em;
 margin-left:-12em;
 font-size:0.95em;
}

#location address {
  margin-left:0.15em;
  line-height:0px;
}

address a {
  margin-top:-1em;
}

.mobile{
  display: block;
  margin: 0.35rem 0;
}

.desktop{
  display: none;
}
/* -----------------------HOVER STYLES--------------------- */
@media (hover:hover){
  nav a:hover{
    text-decoration: none;
    background-color: var(--light-green);
    color: var(--dark-gray);
  }
}
/* -----------------------SMALL STYLES--------------------- */
@media screen and (min-width: 500px){
  header{
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
  }
  
  nav{
    grid-column: 1/-1;
  }

  h1{
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: left;
  }
  
  #logo {
    display: block;
    width: 90px;
    margin: 0 auto;
  }
  
  #aboutPlants div {
    display:grid;
    grid-template-columns:1fr 3fr;
  }
}

@media screen and (min-width: 600px){
#logo {
  transform:scaleX(-1);
}

#aboutPlants div {
display: grid;
grid-template-columns: 1fr 2fr;
align-items: center;
max-width: 680px;
margin: 0 auto;
}

#aboutPlants h3, #contactUs h3{
  grid-column: 1/-1;
  padding-bottom: 0;
}

#aboutPlants img, #contactUs img {
  width: 90%;
}

#aboutPlants {
  margin-bottom:2em;
}

#contactUs {
  margin-bottom:2em;
}

#contactUs div {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  max-width: 680px;
  margin: 0 auto;
}

#contactUs p {
  grid-row: 2/3;
}

#contactUs a {
  grid-column: 2/3;
}

footer div{
  display:flex;
}

#location {
  margin:0 auto;
  margin-top:4.5em;
}

#location address {
  margin-left:-2em;
}
}
/* -----------------------MED SCREEN STYLES-------------------- */
@media screen and (min-width: 700px){
header {
  display:flex;
}

header img {
  width:50px;
  margin-top:-1.4em;
}

#logo {
  margin-left:-17.45em;
}

nav {
  font-size:1.18em;
}

h1 {
  font-size:1.25em;
  margin-left:2.85em;
}

#hero {
  box-shadow:3px 2px 8px var(--gray);
}

#homeMain {
  margin-top:2em;
  margin-left:3.75em;
  margin-right:3.75em;
}

#homeMain h2 {
font-size:1.1em;
}

#homeMain p:first-of-type {
margin-top:-1.5em;
margin-bottom:-1.85em;
}

#homeMain p:last-of-type {
margin-top:-2em;
margin-bottom:1.25em;
}
#aboutPlants h3 {
  color:var(--blue);
}

#contactUs h3 {
  color:var(--med-green);
}

footer div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding-bottom: 1rem;
  max-width: 700px;
  margin: 0 auto;
}

#aboutPlants img, #contactUs img {
  width:55%;
  margin-top:-2em;
}

#aboutPlants img {
  margin-top:-1.85em;
}

#aboutPlants p {
  margin-top:-0.5em;
  margin-left:-2em;
  margin-right:2em;
}

#contactUs img {
  margin-top:-2.25em;
  margin-right:5em;
}

#contactUs p {
  margin-top:-0.5em;
  margin-left:3em;
  margin-right:-0.75em;
}

footer h2 {
  font-size:0.99em;
}

#socialMedia {
  margin-left:3.5em;
}
#socialMedia img {
  margin-top:-0.85em;
}

#location {
  margin-top:3.91em;
}

#location h2 {
  margin-left:-12.25em;
}
}
/* -----------------------LARGE SCREEN STYLES-------------------- */
@media screen and (min-width: 950px){
header{
  grid-template-columns: 1fr 2fr 3fr;
}

nav {
  grid-column: 3/-1;
  max-width: 600px;
  margin: 0 auto;
  margin-left:27em;
}

nav a {
font-size:1.1em;
}

#hero {
  width:28.5em;
  margin-top:-0.65em;
}

#homeMain h2 {
  margin-top:-0.75em;
  font-size:0.9em;
}

#homeMain p {
  font-size:0.85em;
  margin-left:10.5em;
  margin-right:10.5em;
}

#homeMain p:first-of-type {
margin-top:-1.5em;
margin-bottom:-2.5em;
}

#homeMain p:last-of-type {
margin-top:-2.5em;
margin-bottom:-1em;
}

main article:last-of-type{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1rem;
}

h1 {
  font-size:1.3em;
  margin-left:3.25em;
  margin-top:-0.15em;
}
  
#logo {
  margin-left:-18.25em;
}
  
#aboutPlants img, #contactUs img {
  width:100%;
}

#aboutPlants {
  margin-bottom:2em;
}

#aboutPlants img {
  margin-top:-2em;
  margin-left:2.5em;
}

#aboutPlants p {
  margin-left:2.75em;
  margin-right:1.75em;
}

#contactUs img {
  margin-left:-2.5em;
}

#contactUs p {
  margin-left:1.5em;
  margin-right:2.35em;
}

footer {
  margin-top:-2em;
}

footer h2 {
  font-size:0.95em;
}

footer span {
  margin-left:-0.5em;
  margin-top:1em;
}

#socialMedia h2 {
  margin-left:2em;
}

#socialMedia img {
  width:58%;
  margin-left:2em;
}

#location {
  margin-top:4.45em;
  margin-left:4em;
}

#location h2 {
  margin-top:-2.75em;
  margin-right:2em;
}

address a {
  line-height:3em;
    margin-left:-0.5em;
  padding: 0.5rem;
}

.desktop{
    display: block;
    padding: 0.5rem;
    margin-top: 0.25rem;
}

.mobile{
    display: none;
}
}